body {
    overflow-x: hidden;
}

.films {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.ratings-list {
    list-style-type: none;
    padding-left: 3px;
}

.ratings-list li > p {
    margin: 0;
    margin-top: 5px;
    margin-right: 4px;
}


.ratings-list li > div {
    color: #d99543;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgba(217, 149, 67, 0.5);
    color: #FFF;
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}